


 <footer class="p-3 flex my-2 content-center items-center justify-between w-1/6 md:w-auto mx-4 height-auto  absolute  bg-white rounded-lg shadow-md  dark:bg-white">
        <span class=" mx-auto content-center items-center text-sm text-violet-600  font-bold dark:text-gray-800">Made by Mukul Thakur
        </span>
</footer>

</body>
</html>
