<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/styles.css">

    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap"
    rel="stylesheet"/>
    <title>Document</title>
</head>
<body class>



    <nav class="flex rounded shadow-md mx-1 mb-8 mt-1  bg-white items-center justify-between">

          <div class="logo">
            <img class=" mx-3 my-2 w-9 inline" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc_8D2LQ6r3SlQFDRKTvkjhNXxLNcuE8JKMQ&usqp=CAU" >
            <span class="text-xl py-2 my-4 font-Poppins font-semibold cursor-pointer">Blog</span>
          </div>

          <ul class="flex  ">

            <li class="mx-2 my-4 ">
                <a href="/">Home</a>
            </li>

            <li class="mx-2 my-4  ">
                <a href="/about">About</a>
            </li>

            <li class="mx-2 my-4 ">
                <a href="/contacts">Contacts</a>
            </li>

            <li class="mx-3 py-2   ">
                <a href="/compose"> <button class="rounded px-2 py-1.5 bg-blue-500 text-white">Compose</button></a>  
            </li>

          </ul>
    </nav>
